@font-face {
  font-family: 'Inconsolata';
  src: url(font/Inconsolata-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono Regular';
  src: url(font/SpaceMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono Bold';
  src: url(font/SpaceMono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(font/Montserrat-Medium.ttf) format('truetype');
}

/* --------------------------
  .page_title
----------------------------- */
.page_title {
  margin: 40px 77px;
}
.page_title p {
  font-family: 'Inconsolata';
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -0.08em;
}

/* --------------------------
  main
----------------------------- */
main {
  margin: 160px 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
  .main_image
----------------------------- */
.main_image {
  width: 45%;
}

/* 
  .right_text
----------------------------- */
.right_texts {
  width: 45%;
  max-width: 700px;
}

.main_title {
  font-family: 'Space Mono Bold';
  font-size: 64px;
  line-height: 95px;
}

.main_text {
  font-family: 'Space Mono Regular';
  font-size: 24px;
  max-width: 400px;
  margin: 36px 0 64px 0;
}

.back_link {
  display: inline-block;
  padding: 24px 43px;
  background: #000;
  color: #fff;
  font-family: 'Space Mono Regular';
  line-height: 20px;
  font-size: 14px;
  text-decoration: none;
}

/* --------------------------
  footer
-----------------------------*/
footer {
  margin: 24px 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #bdbdbd;
}

.footer_username {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 880px) {
  /* --------------------------
    .page_title
  ----------------------------- */
  .page_title {
    margin: 20px 24px;
  }

  /* --------------------------
  main
  ----------------------------- */
  main {
    margin: 64px 24px;
    flex-direction: column;
  }

  /* 
    .main_image
  ----------------------------- */
  .main_image {
    width: 100%;
    max-width: 700px;
    margin-bottom: 60px;
  }

  /* 
    .right_text
  ----------------------------- */
  .right_texts {
    width: 100%;
    max-width: none;
  }

  .main_title {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    margin-bottom: 30px;
  }

  .main_text {
    font-size: 18px;
    max-width: none;
    margin: 30px 0 66px 0;
  }
}